@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Smooch+Sans:wght@600&family=Source+Sans+Pro:wght@200&display=swap');

p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
h1{
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    text-size-adjust: 29px;
    color: honeydew;
    box-sizing: border-box;
    font-weight: bolder;
    width:auto;
    height:auto;
    background-color: #4B5A55;
}
h2,h3,h4,h5,h6{
    text-size-adjust: 29px;
    font-weight: bold;
    color: honeydew;
}
.design{
   border-width: 25px 0 0 25px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */

}
.contentsH{
    font-size: 25px;
    padding: 20px;
    background-color: #5E716A;
    margin-bottom:-120px;
    margin-left: 400px;
    text-decoration: #2F3935;
    text-transform: uppercase;
}
.contentsH a{
    text-decoration: #2F3935;
}
.contentsH a:visited{
    text-decoration: none;
    color: #424F4A;
}
.contentsH a:hover{
    border: 4px solid #715E65;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    color: honeydew;
    cursor: grab;
    text-transform: uppercase;
    transition: 0.7s;
}
.contents2{
    font-size: 25px;
    padding: 20px;
    background-color: #5E716A;
    margin-bottom: 240px;
    margin-left: 400px;
    text-decoration: #2F3935;
    text-transform: uppercase;
}
.contents2 a{
    text-decoration: #2F3935;
}
.contents2 a:visited{
    text-decoration: none;
    color: #424F4A;
}
.contents2 a:hover{
    border: 4px solid #715E65;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    color: honeydew;
    cursor: grab;
    text-transform: uppercase;
    transition: 0.7s;
}
.main{
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-top: -272px;
}
.contents{
    font-size: 25px;
    padding: 20px;
    background-color: #5E716A;
    margin-bottom: 275px;
    margin-left: 400px;
    text-align: center;
    text-decoration: #2F3935;
    text-transform: uppercase;
}
.contents a{
    text-decoration: #2F3935;

}
.contents a:visited{
    text-decoration: none;
    color: #424F4A;
}
.contents a:hover{
    border: 4px solid #715E65;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    color: honeydew;
    cursor: grab;
    text-transform: uppercase;
    transition: 0.7s;
}
.sidebar1{
    height: 85%;
    width: 360px;
    position: absolute;
    margin: 76px;
    z-index: 1;
    top: 115px;
    left: 0;
    background-color: #4B5A55;
    overflow-x: hidden;
    padding: 20px;
}
.sidebar1 a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: honeydew;
    display: block;
    
}
.sidebar2{
    height: 20%;
    width: 360px;
    position: absolute;
    margin: 76px;
    margin-bottom: 100px;
    z-index: 1;
    top: 115px;
    left: 0;
    background-color: #4B5A55;
    overflow-x: hidden;
    padding: 20px;
}
.sidebar2 a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: honeydew;
    display: block;
    
}
.sidebar{
    height: 50%;
    width: 360px;
    position: sticky;
    z-index: 1;
    top: 115px;
    left: 0;
    background-color: #4B5A55;
    overflow-x: hidden;
    padding: 20px;
}
.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: honeydew;
    display: block;
    
}
.img1{
    border-radius: 10px;
    position: relative;
    margin-bottom: 0;


}
img{
    cursor:grab;
}

ul{
    width: auto;
    float: right;
    margin-top: 40px; 
}
li{
   display: inline-block;
   padding: 15px 25px; 
}
a{
    text-align: center;
}
a:hover{
    transition: 0.5s;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:#5E716A;
    color:honeydew;
    font-size: 18px;
    margin-left: auto;
    border-top: 50px;
    margin-right: auto;
    margin: 76px;
}
input[type=submit]{
    background-color:#ffffff ;
    color: black;
    border-radius: 50%;
}
input[type=text]:focus {
    width: 40%;
}