
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&family=Source+Sans+Pro:wght@200&display=swap');

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    text-align: center;
}
h1{
    font-family: 'Smooch Sans', sans-serif;
    text-size-adjust: 25px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: #90A785
    ;
}
span{
    float:left;
}
h2{
    font-family: 'Smooch Sans', sans-serif;
    text-size-adjust: 25px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: #C8DAB1;
}
body{
    background-color: #F7F4F2;
    font-size: 14px;
}
.slider{
    
}

.contents{
    box-sizing: border-box;
    background-color: #C8DAB1 ;
    text-size-adjust: 20px;
    font-size: 15px;
    
}
.contents li a:hover {
    color:rgb(56, 56, 34);
}